openapi: 3.0.3
info:
  title: AARC3-WP4 Policy Registration API
  version: 1.0.0

paths:
  /:
    get:
      summary: Landing page
      operationId: baseApi.home
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string

  /getPolicies:
    get:
      summary: List all policy entries
      operationId: baseApi.getPolicies
      responses:
        "200":
          description: Policy list
          content:
            application/json:
              schema:
                type: object
                properties:
                  policies:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        informational_url:
                          type: string

  /getPolicy/{policy}:
    get:
      summary: Retrieve all information regarding a single policy
      operationId: baseApi.getPolicy
      parameters:
        - in: path
          name: policy
          required: true
          schema:
            type: string
            format: path
      responses:
        "200":
          description: Detailed policy
          content:
            application/json:
              schema:
                type: object
                properties:
                  policy:
                    type: object
        "404":
          description: Not found

  /addPolicy:
    post:
      summary: Add a new policy (requires OAuth2 token)
      operationId: baseApi.addPolicy
      security:
        - oauth2: [openid]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name of the policy
                owner:
                  type: string
                  format: email
                  description: Email address of the policy owner
                augment_policy_uris:
                  type: array
                  items:
                    type: string
                    format: uri
                  description: URIs for the policies this policy augments
                aut:
                  type: string
                  format: uri
                  description: Authority (AUT) URL
                auth_languages:
                  type: array
                  description: Names of the authority and the language the name is in (stand for standard)
                  items:
                    type: object
                    properties:
                      aut_name:
                        type: string
                        description: name of authority
                      language:
                        type: string
                        description: Language code (e.g. fr_FR)
                contacts:
                  type: array
                  description: Contact emails
                  items:
                    type: object
                    properties:
                      email:
                        type: string
                        format: email
                      type:
                        type: string
                        description: Type of contact (e.g., standard, security or privacy)
                descriptions:
                  type: array
                  description: Descriptions of the policy and the language the description is in.
                  items:
                    type: object
                    properties:
                      description:
                        type: string
                      language:
                        type: Language code (e.g. fr_FR)
                id:
                  type: string
                  format: uri
                  description: Unique policy identifier (URI)
                includes_policy_uris:
                  type: array
                  items:
                    type: string
                    format: uri
                  description: URI's that this policy implicitly includes
                notice_refresh_period:
                  type: integer
                  description: Number of seconds after which the policy needs to be presented to the user again.
                policy_class:
                  type: string
                  description: Classification of the policy (e.g., sla, purpose, acceptable-use, conditions or privacy)
                policy_jurisdiction:
                  type: string
                  nullable: true
                  description: Jurisdiction value, though only for privacy class.
                policy_url:
                  type: string
                  format: uri
                  description: URL of the policy document
                ttl:
                  type: integer
                  description: Time period after which this document should be retrieved again. 
                valid_from:
                  type: string
                  format: date-time
                  description: Datetime from which the policy is valid
              required:
                - name
                - owner
                - auth_languages
                - contacts
                - id
                - policy_class
              example:
                name: "Global Science"
                owner: "Esteban.Ocon@Haas.com"
                augment_policy_uris:
                  - "https://researchhub.org/document/8742"
                aut: "https://global-science.org"
                auth_languages:
                  - aut_name: "GlobalScience"
                    language: "us_US"
                  - aut_name: "GlobalScience"
                    language: "fr_FR"
                contacts:
                  - email: "info@global-science.org"
                    type: "standard"
                  - email: "support@global-science.org"
                    type: "security"
                descriptions:
                  - description: "A collaborative international research organization."
                    language: "us_US"
                  - description: "Une organisation de recherche internationale collaborative."
                    language: "fr_FR"
                id: "https://global-science.org/policy"
                includes_policy_uris:
                  - "https://partners.org/policies/v3/"
                  - "https://open-data.net/policies/aup/v2/"
                notice_refresh_period: 2592000
                policy_class: "sla"
                policy_jurisdiction: null
                policy_url: "https://global-science.org/policy"
                ttl: 47304000
                valid_from: "2025-04-21 14:00:00"
      responses:
        "200":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean

components:
  securitySchemes:
    oauth2:
      type: oauth2
      x-tokenInfoFunc: baseApi.introspectToken
      flows:
        implicit:
          authorizationUrl: ${IDP_AUTHORIZATION_ENDPOINT}
          scopes:
            openid: OpenID Connect
            email: Access to email address
            profile: Access to user profile
        authorizationCode:
          authorizationUrl: ${IDP_AUTHORIZATION_ENDPOINT}
          tokenUrl: ${IDP_TOKEN_ENDPOINT}
          scopes:
            openid: OpenID Connect
            email: Access to email address
            profile: Access to user profile
        
